<h1 class="mt-4">{{title.big}}</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{title.small}}</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        {{title.table}}
    </div>
    <div class="card-body">
        <table id="datatablesSimple" style="width:100%">
            <thead>
                <tr>
                    <th>Transaction Hash</th>
                    <th>Status</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Transaction Hash</th>
                    <th>Status</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Signature</th>
                    <th>Timestamp</th>
                </tr>
            </tfoot>
            <tbody>
                {{#each transactionPool}}
                <tr>
                    <td>{{this.hash}}</td>
                    <td class="text-primary"><b>pending</b></td>
                    <td>{{this.fromAddress}}</td>
                    <td>{{this.toAddress}}</td>
                    <td>{{this.amount}}</td>
                    <td>{{this.signature}}</td>
                    <td>{{this.timestamp}}</td>
                </tr>
                {{/each}}
                {{#each validTransaction}}
                <tr>
                    <td>{{this.hash}}</td>
                    <td class="text-success"><b>success</b></td>
                    <td>{{this.fromAddress}}</td>
                    <td>{{this.toAddress}}</td>
                    <td>{{this.amount}}</td>
                    <td>{{this.signature}}</td>
                    <td>{{this.timestamp}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/minecoin.js"></script>