<h1 class="mt-4">Mine coin</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Mining pending transactions to receive reward</li>
</ol>
<div class="row justify-content-center mb-5">
    <div class="col-lg-5">
        <div id="result"></div>
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">There are {{transactionPool.length}} pending transactions
                </h3>
            </div>
            <div class="card-body">
                <div class="mt-2 mb-0">
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" id="btn-mine" {{#unless transactionPool.length}}
                            disabled{{/unless}}>
                            Peding now!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Pending transactions
    </div>
    <div class="card-body">
        <table id="datatablesSimple" style="width:100%">
            <thead>
                <tr>
                    <th>Transaction Hash</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Signature</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Transaction Hash</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Timestamp</th>
                </tr>
            </tfoot>
            <tbody>
                {{#each transactionPool}}
                <tr>
                    <td>{{this.hash}}</td>
                    <td>{{this.fromAddress}}</td>
                    <td>{{this.toAddress}}</td>
                    <td>{{this.amount}}</td>
                    <td>{{this.signature}}</td>
                    <td>{{this.timestamp}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/minecoin.js"></script>